.recipe {
  position: relative;
  text-align: center;
  padding: 0.5rem;
  margin: 1rem 0;
}

.recipe div {
  position: absolute;
  align-items: center;
}

.recipe h1 {
  color: #c98e22;
}

.recipe .recipe-image {
  width: 30%;
}

.recipe .delete-icon {
  position: absolute;
  right: 2%;
  top: 2%;
  width: 2vw;
  cursor: pointer;
}
