.recipes {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  list-style-type: none;
}

.recipes ul {
  list-style: none;
  padding: 1rem;
}

.recipes li {
  margin: 0.5rem 0;
  padding: 0.5rem;
}
